body{
    height: 100vh;
    background-color: cornflowerblue;
    font-size: large;
    color: white;

}

h1{
    text-align: center;
    font-size: 3em;

}

img{
    border: 2px dashed white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: white;
}

.col{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.center{
    text-align: center;
}